
*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    outline: none;box-sizing: border-box;
} 
    .topic{
        padding-top: 150px;
        padding-left: 400px;
        border: 100px;
        border-radius: 10px;
        background-color:bisque;
        font-size: 3rem;
        
    }
    .header{
        top:0px;
        left:0px;
        right: 0px;
        background: #fff; 
        align-items :center;
        background-color:lightgray;
        padding: 10px;
    }
    .logo{
        font-size: 3rem;
        color: #000;
        font-weight: bolder;
        padding-left: 10px;
    }
    .home{
        font-size: x-large;
        margin-left: 50px;
    }
    .home:hover{
        background-color:navajowhite;
        color:black;
        border-radius: 10px;
        padding: 10px;
    }
    .about{
        font-size: x-large;
        margin-left: 100px;
    }
    .about:hover{
        background-color:navajowhite;
        color:black;
        border-radius: 10px;
        padding: 10px;
    }
    .category{
        font-size: x-large;
        margin-left: 100px;
    }
    .category:hover{
        background-color:navajowhite;
        color:black;
        border-radius: 10px;
        padding: 10px;
    }
    .product{
        font-size: x-large;
        margin-left: 100px;
    }
    .product:hover{
        background-color:navajowhite;
        color:black;
        border-radius: 10px;
        padding: 10px;
    }
    .contact{
        font-size: x-large;
        margin-left: 100px;
    }
    .contact:hover
    {
        background-color:navajowhite;
        color:black;
        border-radius: 10px;
        padding: 10px;
        
    }
    .bu{
        padding:7px;
        font-size: x-large;
        border: none;
        font-weight: 0;
        margin-left: 100px;
        border-radius: 800px;
        cursor: pointer;
        
    }
    .bu:hover
    {
        background-color:navajowhite;
        color:black;
        border-radius: 10px;
        padding: 10px;
        
    }
.heading{
    text-align: center;
    font-size: xx-large;
    color:wheat;
    border: 100px;
    background-color: gray;
    padding: 10px;
}
h1{
    margin-left: 300px;
    padding: 70px;
}
.content{
    width:1000px;
    font-size: 2rem;
     display: flex;
    padding-left: 200px;
}
.button{
    margin-left: 50px;
    padding: 10px;
}
.page{
    padding-left: 100px;
    width: 600px;
    height: 300px;
   
}
