.bu{
    background-color:aqua;
  margin-bottom:40px;
    font-size: large;
    margin-left: 50px;
}
.whole{
    border:1000px;
    border-radius: 100px;
    background-color:burlywood;
    width: 400px;
    margin-left: 500px;
    padding: 100px;
    margin-top: 200px;
    height: 200px;
}
